



body{
    background-image: url("../images/hp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Nanum Brush Script', cursive;
}

h2{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 10px;
}

p{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 20px;
}

.jumbotron{
    align-items: center;
   
    opacity: 0.8;
    /*width: 100%;*/
    height: 100%;
}

#ron{
    height: 150px;
    width: 150px;
    float: left;
    padding: 20px;
    background: transparent;
}

#hermione{
    height: 150px;
    width: 150px;
    float: left;
    padding: 20px;
    background: transparent;
}

#potter{
    height: 150px;
    width: 150px;
    float: left;
    padding: 20px;
    background: transparent;
}

#bookBox{
    margin-top: 100px;
}

#charBox{
    opacity: 0.75;
    height: 70%;
}

button{
    float: left;
    border: transparent;
    background-color: transparent;
}



#book1{
    height: 100px;
    width: 80px;
    float: left;
    padding: 20px;
    
}

#book2{
    height: 100px;
    width: 80px;
    float: left;
    padding: 20px;
}

#book3{
    height: 100px;
    width: 80px;
    float: left;
    padding: 20px;
}

#book4{
    height: 100px;
    width: 80px;
    float: left;
    padding: 20px;
}

#book5{
    height: 100px;
    width: 80px;
    float: left;
    padding: 20px;
}

#book6{
    height: 100px;
    width: 80px;
    float: left;
    padding: 20px;
}

#book7{
    position: relative;
    height: 100px;
    width: 80px;
    float: left;
    padding: 20px;
}

#book1:hover{
    background-image: url("./assets/images/open_book.png")
}


#gameField{
    visibility: collapse;
}

#gamePlayer{
    float: left;
}

#aiPlayer{
    float: right;
}

#attack{
    height: 100px;
    width: 200px;
    margin: 20px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 40px;
}

#defend{
    height: 100px;
    width: 200px;
    margin: 20px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 35px;
}

#charBox{
    visibility: collapse;
}

